/**
 * Reset
 */
/**
 * Base
 */
@font-face {
  font-family: "Wingdings";
  src: url("../OPS/fonts/Wingdings.ttf") format(truetype);
}
/* TEST */
* {
  box-sizing: border-box;
}
*:before, *:after {
  box-sizing: border-box;
}

html,
body {
  font-size: 16px;
  margin: 0;
}

/**
 * Project
 */
.auxiliary {
  position: absolute;
  opacity: 0;
}
.auxiliary [data-chapter-body] {
  width: 100vw;
  height: 100vh;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-flex-direction: column;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-flex-wrap: wrap;
      -ms-flex-wrap: wrap;
          flex-wrap: wrap;
  white-space: normal !important;
  /* TEST: Show boundaries of chapters*/
}
.auxiliary [data-chapter-body] > * {
  width: 100vw !important;
}

.pages {
  position: relative;
}

.page {
  background: #fff;
  /* TEST: Show all pages */
  display: inline-block;
  width: 100vw;
  height: 100vh;
  vertical-align: top;
  box-shadow: 0 0 0 1px #000;
}
