.tight {
    padding: 0;
    margin: 0
}

.font {
    font-family: "Open Sans", sans-serif
}

* {
    font-family: "Open Sans", sans-serif
}

h1, h2, h3, h4, h5, h6 {
    page-break-after: avoid !important;
    page-break-inside: avoid !important;
    margin: 0;
    font-family: "Open Sans", sans-serif;
    text-transform: uppercase
}

h1 {
    font-size: 2em;
    margin-bottom: 1em;
    line-height: 1em;
    box-sizing: border-box;
    color: #99ca3d
}

div + h1 {
    margin: 1em 0
}

h1 .sec-num {
    display: inline-block;
    box-sizing: border-box;
    border: none;
    border-radius: 1em;
    margin: 0;
    width: 1em;
    height: 1em;
    text-align: center;
    vertical-align: top;
    background-color: #99ca3d;
    color: #fff
}

h1 .sec-num span {
    display: inline-block;
    height: 2.5em;
    font-size: .4em;
    line-height: 2.5em;
    box-sizing: border-box;
    vertical-align: text-top
}

h2 {
    color: #99ca3d;
    font-size: 1.5em;
    font-weight: 700;
    text-transform: uppercase;
    margin-bottom: 1em
}

h3 {
    font-size: 1em;
    font-weight: 700;
    text-transform: uppercase;
    margin-bottom: 1em
}

h3.green, h3.runin-head {
    color: #99ca3d
}

h4 {
    font-weight: 700;
    font-size: 1em;
    margin: 0
}

h1.title, h2.title, h3.title, h4.title {
    color: initial
}

.title {
    text-align: center;
    font-weight: 700;
    margin: 0;
    line-height: 1.5
}

h1.title {
    font-size: 250%;
    margin-top: 20%;
    margin-top: 20vh
}

h2.title {
    margin: 1em 0;
    font-size: 125%
}

h3.title {
    font-size: 150%;
    margin-bottom: 3em
}

h4.title {
    font-size: 1em
}

section.featured p {
    font-style: italic
}

section.featured p cite, section.featured p span.keyword {
    font-style: normal
}

p {
    text-align: justify;
    margin: 0;
    margin-bottom: 1em;
    hyphens: auto
}

p.copyright {
    font-size: 80%;
    text-align: left
}

p.dedication {
    text-align: center;
    margin-top: 20%;
    margin-top: 20vh
}

p.toc, p.toc-title {
    text-align: left;
    margin: 0
}

p.toc {
    font-weight: 700;
    margin-top: 1.5em
}

p.authors {
    text-align: left
}

p:last-child {
    margin-bottom: 0
}

aside {
    font-size: 80%
}

aside.citation {
    font-size: italic
}

p.citation {
    font-style: italic;
    font-size: 80%
}

.athlete, .author {
    font-style: italic
}

.athlete cite, .athlete span.keyword, .author cite, .author span.keyword {
    font-style: normal
}

div.flex {
    width: 100%;
    display: flex;
    flex-flow: row wrap
}

div.flex div {
    width: 50%;
    padding: 0;
    box-sizing: border-box
}

div.signatures img {
    width: 80%
}

div.toc {
    margin-top: 25%;
    margin-top: 25vh
}

div.toc hr {
    width: 2.5em;
    border-color: #99ca3d;
    border-style: solid;
    margin-top: 2em;
    margin-bottom: 2em;
    margin-left: 0
}

div.toc p {
    color: #99ca3d;
    font-weight: 700;
    text-transform: uppercase;
    text-align: left
}

div.toc p a {
    color: #99ca3d
}

div.illus {
    text-align: center
}

div.illus.f {
    height: 100%;
    height: 100vh
}

div.illus.f img {
    display: inline-block;
    height: 100%;
    max-width: 100%;
    margin: auto
}

div.illus.w {
    width: 100%;
    width: 100vw
}

div.illus.w img {
    width: 100%;
    max-height: 100%;
    margin: auto
}

section.chapter-cover {
    color: #99ca3d;
    padding: 0;
    margin: 0
}

section.chapter-cover div.illus {
    width: auto;
    height: 100%;
    height: 100vh
}

section.chapter-cover div.illus img {
    width: auto;
    height: 100%;
    height: 100vh
}

section.chapter-cover div.text {
    padding-top: 20%;
    padding-top: 20vh
}

span.keyword {
    text-transform: uppercase;
    font-weight: 700
}

span.attribution {
    font-style: italic;
    white-space: nowrap
}

span.runin-head {
    color: #99ca3d;
    text-transform: uppercase;
    font-weight: 700
}

span.regular {
    font-weight: 400
}

ul {
    display: table;
    margin-left: 0;
    padding-left: 0;
    list-style: none
}

h4 + ul {
    margin-top: 0
}

ul li {
    display: table-row
}

ul li::before {
    content: "•";
    display: table-cell;
    padding-right: .4em
}

ul li ul {
    margin-left: 1em;
    margin-top: 1em;
    margin-bottom: 1em
}

ul li ul li::before {
    content: "—"
}

ul.plain li::before {
    display: none
}

cite {
    font-style: italic
}

table {
    border-collapse: collapse;
    margin-bottom: 1em
}

table thead {
    border-bottom: 1px solid
}

table thead th {
    font-weight: 700;
    border-color: #000
}

table thead th span {
    color: #99ca3d
}

table tr + tr {
    border-top: 1px solid
}

table th {
    font-weight: 400;
    text-transform: uppercase
}

table td, table th {
    width: 50%;
    padding: 1em;
    text-align: left;
    vertical-align: top
}

table td + td, table th + td, table th + th {
    border-left: 1px solid
}

i {
    border: 1px dotted green
}

img {
    max-width: 100%;
    max-height: 100%
}